<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CellGame - 2017</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" th:href="@{/static/style/main.css}"
	href="../../css/main.css" />

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-4 description">
				<h1>Game of Life</h1>
				
				<div class="details">
					<div>
						<span>A living cell dies if has more living neighbour than 3</span>				
					</div>
					<div>
						<span>A living cell dies if has less living neighbour than 2</span>						
					</div>
					<div>
						<span>A dead cell comes alive when it has 3 living neighbours </span>						
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<table>
					
				</table>
			</div>
			<div class="col-sm-4">
				<table>
					
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container footer">
			<div class="jumbotron">
				<p>CellGame - 2017 </p>
			</div>
		</div>
	</div>	
</body>
</html>